{% extends "base.html" %}

{% block title %}{{ article.title|striptags }}{% endblock %}
{% block meta_og_title %}<meta property="og:title" content="{{ SITENAME|striptags }} - {{ article.title|striptags }}">{% endblock %}
{% block meta_twitter_title %}<meta name="twitter:title" content="{{ SITENAME|striptags }} - {{ article.title|striptags }}">{% endblock %}

{% block meta_og_url %}<meta property="og:url" content="{{ article.url }}">{% endblock %}
{% block meta_twitter_url %}<meta property="twitter:url" content="{{ article.url }}">{% endblock %}

{% block meta_description %}<meta name="description" content="{{ article.summary|striptags }}" />{% endblock %}
{% block meta_og_description %}<meta property="og:description" content="{{ article.summary|striptags }}">{% endblock %}
{% block meta_twitter_description %}<meta name="twitter:description" content="{{ article.summary|striptags }}">{% endblock %}

{% block meta_og_type %}<meta property="og:type" content="article">{% endblock %}

{% block meta_og_image %}
  {% if article.metadata.metaimage %}
    <meta property="og:image" content="{{ 'https://kpdata.dev'|trim + article.metadata.metaimage|trim }}">
  {% else %}
    <meta property="og:image" content="https://kpdata.dev/theme/svg/LightLogo_OG.svg">
  {% endif %}
{% endblock %}

{% block meta_twitter_image %}
  {% if article.metadata.metaimage %}
    <meta property="twitter:image" content="{{ 'https://kpdata.dev'|trim + article.metadata.metaimage|trim }}">
  {% else %}
    <meta property="twitter:image" content="https://kpdata.dev/theme/svg/LightLogo_OG.svg">
  {% endif %}
{% endblock %}


{% block head %}
  {{ super() }}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.css" />

{% endblock %}

{% block content %}
<article class="mb-16">
  <header class="mb-4">
    <h1 class="text-5xl mb-2">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a>
    </h1>
    <div class="text-gray-400 text-sm flex items-start gap-2">
      <span>{{ article.locale_date }}</span>
      {% if article.tags %}
        <span>&middot;</span>
        <span>
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="hover:text-kpddaccent duration-200">#{{ tag }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </div>
  </header>

  {{ article.content }}
  
</article>
{% endblock %}
