<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if SITESUBTITLE %}
        <meta name="description" content="{{ SITESUBTITLE }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        <script src="https://cdn.tailwindcss.com"></script>
        {% endblock head %}
</head>

<body>
        <header>
              <hgroup><h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>{% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}</hgroup>
        <nav><ul>
          <li><a href="{{ SITEURL }}/about/">About</a></li>
          <li><a href="{{ SITEURL }}/archives.html">Blog</a></li>
          <li><a href="{{ SITEURL }}/contact/">Contact</a></li>
          <h1 class="text-3xl font-bold underline">
            Hello world!
          </h1>
        </header>
        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer>
               <span>KP Data Dev</span> 
               <ul>
                <li>
                  <a href="https://www.linkedin.com/company/kp-data-dev/">LinkedIn</a>
                </li>
                <li>
                  <a href="mailto:info@kpdata.dev">Email</a>
                </li>
               </ul>
        </footer>
</body>
</html>
