<!DOCTYPE html>
<html lang="en" class="h-screen">
<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Turn raw data into actionable insights. Our expert team designs and implements efficient data pipelines, making your data accessible from any source - ERPs, web APIs, siloed databases, or spreadsheets - within a curated data warehouse." />

  <meta property="og:title" content="KP Data Dev">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Turn raw data into actionable insights. Our expert team designs and implements efficient data pipelines, making your data accessible from any source - ERPs, web APIs, siloed databases, or spreadsheets - within a curated data warehouse.">
  <meta property="og:image" content="https://kpdata.dev/theme/svg/LightLogo.svg">
  <meta property="og:url" content="https://kpdata.dev">
  <meta property="og:site_name" content="kpdata.dev">

  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link rel="icon" type="image/svg+xml" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/Favicon.svg">
  {% endblock head %}
</head>

<body class="text-kpddmain flex flex-col h-screen">
  <header class="bg-white">
    <nav class="max-w-5xl mx-auto px-2 py-5 flex items-center justify-between">
      <a href="{{ SITEURL }}/">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/MainLogo.svg" alt="KP Data Dev logo" class="h-12 sm:h-16">
      </a>
      <ul class="flex space-x-2 sm:space-x-4">
        <li class="hover:text-kpddaccent duration-300"><a href="{{ SITEURL }}/about/">About</a></li>
        <li class="hover:text-kpddaccent duration-300"><a href="{{ SITEURL }}/blog/">Blog</a></li>
        <li class="hover:text-kpddaccent duration-300"><a href="{{ SITEURL }}/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main class="grow">
    {% block main %}
      <div class="max-w-5xl mx-auto p-2">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}
  </main>
  <footer class="bg-kpddmain text-white mt-auto">
    <div class="mx-auto max-w-5xl px-2 py-5 text-center">
      <a href="{{ SITEURL }}/">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/LightLogo.svg" alt="KP Data Dev logo" class="h-16 mx-auto">
      </a>
      <ul class="flex items-center justify-center space-x-4 pt-2">
        <li>
          <a href="https://www.linkedin.com/company/kp-data-dev/">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/LinkedInIcon.svg" alt="LinkedIn icon" class="h-6 w-6 hover:scale-110 duration-200">
          </a>
        </li>
        <li>
          <a href="mailto:info@kpdata.dev">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/MailIcon.svg" alt="Mail icon" class="h-6 w-6 hover:scale-110 duration-200">
          </a>
        </li>
      </ul>
      <p class="text-xs mt-8">&copy; 2024 KP Data Dev. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
