<!DOCTYPE html>
<html lang="en" class="h-screen">
<head>
  {% block head %}
    {% if GOOGLE_ANALYTICS %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{GOOGLE_ANALYTICS}}');
      </script>
    {% endif %}
    
    <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta_description %}
      <meta name="description" content="Our expert team designs and implements efficient data pipelines, making your raw data accessible from any source within a curated data warehouse." />
    {% endblock %}

    {% block meta_og_title %}<meta property="og:title" content="KP Data Dev">{% endblock %}
    {% block meta_og_type %}<meta property="og:type" content="website">{% endblock %}
    {% block meta_og_description %}<meta property="og:description" content="Our expert team designs and implements efficient data pipelines, making your raw data accessible from any source within a curated data warehouse.">{% endblock %}
    {% block meta_og_image %}<meta property="og:image" content="{{ SITEURL }}/theme/svg/LightLogo_OG.svg">{% endblock %}
    {% block meta_og_url %}<meta property="og:url" content="{{ SITEURL }}">{% endblock %}
    <meta property="og:site_name" content="kpdata.dev">

    <meta name="twitter:card" content="summary_large_image">
    {% block meta_twitter_title %}<meta name="twitter:title" content="KP Data Dev">{% endblock %}
    {% block meta_twitter_description %}<meta name="twitter:description" content="Our expert team designs and implements efficient data pipelines, making your raw data accessible from any source within a curated data warehouse.">{% endblock %}
    {% block meta_twitter_image %}<meta name="twitter:image" content="{{ SITEURL }}/theme/svg/LightLogo_OG.svg">{% endblock %}
    {% block meta_twitter_url %}<meta property="twitter:url" content="{{ SITEURL }}">{% endblock %}
    <meta property="twitter:domain" content="kpdata.dev">
    
    {% block link_canonical %}<link rel="canonical" href="{{ SITEURL }}" />{% endblock %}
    {% block stylesheets %}<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />{% endblock %}
    <link rel="icon" type="image/svg+xml" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/Favicon.svg" />
  {% endblock head %}
</head>

<body class="text-kpddmain flex flex-col h-screen">
  <header class="bg-white">
    <nav class="max-w-5xl mx-auto px-2 py-5 flex items-center justify-between">
      <a href="{{ SITEURL }}/">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/MainLogo.svg" alt="KP Data Dev logo" class="h-12 sm:h-16">
      </a>
      <ul class="flex space-x-2 sm:space-x-4">
        <li class="hover:text-kpddaccent duration-200"><a href="{{ SITEURL }}/about/">About</a></li>
        <li class="hover:text-kpddaccent duration-200"><a href="{{ SITEURL }}/blog/">Blog</a></li>
        <li class="hover:text-kpddaccent duration-200"><a href="{{ SITEURL }}/newsletter/">Newsletter</a></li>
      </ul>
    </nav>
  </header>
  <main class="grow">
    {% block main %}
      <div class="max-w-5xl mx-auto p-2">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}
  </main>
  <footer class="bg-kpddmain text-white mt-auto">
    <div class="mx-auto max-w-5xl px-2 py-5 text-center">
      <a href="{{ SITEURL }}/">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/LightLogo.svg" alt="KP Data Dev logo" class="h-16 mx-auto">
      </a>
      <ul class="flex items-center justify-center space-x-4 pt-2">
        <li>
          <a href="https://www.linkedin.com/company/kp-data-dev/">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/LinkedInIcon.svg" alt="LinkedIn icon" class="h-6 w-6 hover:scale-110 duration-200">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@KPDataDev">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/YouTubeIcon.svg" alt="YouTube icon" class="h-6 w-6 hover:scale-110 duration-200">
          </a>
        </li>
        <li>
          <a href="mailto:info@kpdata.dev">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/MailIcon.svg" alt="Mail icon" class="h-6 w-6 hover:scale-110 duration-200">
          </a>
        </li>
      </ul>
      <p class="text-xs mt-8">&copy; 2024-2025 KP Data Dev. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
