{% extends "base.html" %}

{% block main %}
<div class="flex flex-col">

  <div class="bg-kpddmain text-white">
    <div class="max-w-5xl mx-auto px-2 py-16 flex flex-col justify-center items-center text-center">
      <h1 class="text-5xl font-bold pb-4">We make data usable.</h1>
      <p class="text-2xl">Businesses have untapped data.</p>
      <p class="text-2xl pb-8">We integrate fragmented data sources into a single data platform, <br>
        empowering businesses to make informed decisions.</p>
      
      <a href="{{ SITEURL }}/contact/">
        <div class="font-semibold py-2 border-y-2 border-kpddaccent hover:scale-110 duration-200">Contact Us</div>
      </a>
    </div>
  </div>

  <div class="max-w-5xl mx-auto px-2 py-12">
    <h2 class="text-5xl text-center mb-4">Our Services</h2>

    <div class="flex flex-col md:flex-row md:gap-x-8">

      <div class="flex flex-col items-center py-4 border-b-2 border-kpddaccent md:flex-1 md:border-y-2">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/Databaseicon.svg" alt="" class="h-16">
        <h3 class="text-3xl py-2 text-center">Data Engineering</h3>
        <p>Turn raw data into actionable insights. Our expert team designs and implements efficient data pipelines, making your data accessible from any source &mdash; ERPs, web APIs, siloed databases, or spreadsheets &mdash; within a curated data warehouse.</p>
      </div>

      <div class="flex flex-col items-center py-4 border-b-2 border-kpddaccent md:flex-1 md:border-y-2">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/CloudInfrastructureicon.svg" alt="" class="h-16">
        <h3 class="text-3xl py-2 text-center">Cloud Data Infrastructure</h3>
        <p>Elevate your data to the cloud effortlessly. We deploy and manage platforms like Snowflake and Databricks on AWS, ensuring scalability, security, and peak performance.</p>
      </div>

      <div class="flex flex-col items-center py-4 border-kpddaccent md:flex-1 md:border-y-2">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/svg/RoboticArmicon.svg" alt="" class="h-16">
        <h3 class="text-3xl py-2 text-center">Process Automation</h3>
        <p>Supercharge productivity with automation. We transform error-prone, manual tasks into reliable, automated workflows, freeing your team to focus on high-value initiatives.</p>
      </div>

    </div> 
    
  </div>

  <div class="bg-stone-100 px-2 py-12">
    <div class="max-w-2xl mx-auto items-center">
      <h2 class="text-5xl text-center mb-4">Why Choose Us?</h2>

      <div class="py-4">
        <h3 class="text-2xl font-semibold">Sustainability</h3>
        <p>Through documentation and training, we ensure that our work can be easily maintained past our contract with you. We are committed to ongoing support as your needs evolve.</p>
      </div>

      <div class="py-4">
        <h3 class="text-2xl font-semibold">Transparent Communication</h3>
        <p>Your time is valuable. We keep our clients informed at every stage of the project, providing regular updates, and promptly addressing any questions or concerns you may have.</p>
      </div>

      <div class="py-4">
        <h3 class="text-2xl font-semibold">Simplicity</h3>
        <p>The modern data stack can be complex. We prioritize simple implementations, making it easier for you to adopt and integrate new technologies into your existing systems.</p>
      </div>

    </div>
  </div>

  <div class="px-2 py-12 text-center flex flex-col justify-center items-center">
    <p class="py-4 text-4xl">Your data doesn't have to be chaotic.</p>
    <p class="pt-4 pb-8 text-4xl">We'll help you connect the dots.</p>
    <a href="{{ SITEURL }}/contact/">
      <div class="font-semibold py-2 border-y-2 border-kpddaccent hover:scale-110 duration-200">Contact Us</div>
    </a>
  </div>

</div>


    
{% endblock %}