{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Blog #{{ tag }}{% endblock %}

{% block content %}

<h2 class="text-6xl mb-4">Blog</h2>

<h3 class="text-3xl mb-2">Tag: #{{ tag }} ({{ articles|count }})</h3>

<div class="mb-4">
  <a href="{{ SITEURL }}/blog/" class="text-gray-400 hover:text-kpddaccent duration-200">#all</a>&nbsp;
  {% for tag, articles in tags | sort %}
    <a href="{{ SITEURL }}/{{ tag.url }}" class="text-gray-400 hover:text-kpddaccent duration-200">#{{ tag }}</a>&nbsp;
  {% endfor %}
</div>

<ul>
  {% for article in articles %}
  <li class="mb-3">
    <h3 class="text-2xl">
    <a href="{{ SITEURL }}/{{ article.url }}" class="hover:text-kpddaccent duration-200">{{ article.title }}</a>
    </h3>
    <div class="text-gray-400 text-sm">
    {{ article.summary }}
    </div>
    <div class="text-gray-400 text-sm flex items-start gap-2">
    <span>{{ article.locale_date }}</span>
    <span>&middot;</span>
    <span>
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}" class="hover:text-kpddaccent duration-200">#{{ tag }}</a>
      {% endfor %}
    </span>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
