{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Blog #{{ tag }}{% endblock %}
{% block meta_og_title %}<meta property="og:title" content="{{ SITENAME|striptags }} - Blog #{{ tag }}">{% endblock %}
{% block meta_twitter_title %}<meta name="twitter:title" content="{{ SITENAME|striptags }} - Blog #{{ tag }}">{% endblock %}

{% block meta_og_url %}<meta property="og:url" content="{{ SITEURL }}/{{ tag.url }}">{% endblock %}
{% block meta_twitter_url %}<meta property="twitter:url" content="{{ SITEURL }}/{{ tag.url }}">{% endblock %}

{% block link_canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ tag.url }}" />{% endblock %}

{% block meta_description %}<meta name="description" content="Check out what we're learning, building, and thinking about. Here are our thoughts about {{tag}}." />{% endblock %}
{% block meta_og_description %}<meta property="og:description" content="Check out what we're learning, building, and thinking about. Here are our thoughts about {{tag}}.">{% endblock %}
{% block meta_twitter_description %}<meta name="twitter:description" content="Check out what we're learning, building, and thinking about. Here are our thoughts about {{tag}}.">{% endblock %}

{% block content %}

<h2 class="text-6xl mb-4">Blog</h2>

<h3 class="text-3xl mb-2">Tag: #{{ tag }} ({{ articles|count }})</h3>

<div class="mb-4">
  <a href="{{ SITEURL }}/blog/" class="text-gray-400 hover:text-kpddaccent duration-200">#all</a>&nbsp;
  {% for tag, articles in tags | sort %}
    <a href="{{ SITEURL }}/{{ tag.url }}" class="text-gray-400 hover:text-kpddaccent duration-200">#{{ tag }}</a>&nbsp;
  {% endfor %}
</div>

<ul>
  {% for article in articles %}
  <li class="mb-3">
    <h3 class="text-2xl">
    <a href="{{ SITEURL }}/{{ article.url }}" class="hover:text-kpddaccent duration-200">{{ article.title }}</a>
    </h3>
    <div class="text-gray-400 text-sm">
    {{ article.summary }}
    </div>
    <div class="text-gray-400 text-sm flex items-start gap-2">
    <span>{{ article.locale_date }}</span>
    <span>&middot;</span>
    <span>
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}" class="hover:text-kpddaccent duration-200">#{{ tag }}</a>
      {% endfor %}
    </span>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
